[Unit]
Description=Filebeat
Documentation=https://www.elastic.co/guide/en/beats/filebeat/current/index.html
Wants=network-online.target
After=network-online.target
[Service]
ExecStart={{pl_mon_home}}/filebeat-{{pl_filebeat_version}}-linux-x86_64/filebeat -c {{pl_mon_home}}/filebeat-{{pl_filebeat_version}}-linux-x86_64/filebeat.yml
ExecStop=/bin/kill -SIGTERM $MAINPID
Restart=always
[Install]
WantedBy=multi-user.target
