[Unit]
Description=Zabbix Agent
After=syslog.target network.target
[Service]
Environment="CONFFILE={{pl_mon_home}}/zabbix/etc/zabbix_agentd.conf"
EnvironmentFile=-/etc/sysconfig/zabbix-agent
Type=forking
Restart=on-failure
PIDFile={{pl_mon_home}}/zabbix/run/zabbix_agentd.pid
KillMode=control-group
ExecStart={{pl_mon_home}}/zabbix/sbin/zabbix_agentd -c $CONFFILE
ExecStop=/bin/kill -SIGTERM $MAINPID
RestartSec=10s
[Install]
WantedBy=multi-user.target