#!/bin/bash
RDS_PORT={{pl_zabbix_redis_port}}
RDS_PWD=`cat {{pl_zabbix_agent_home}}/zabbix/scripts/.redis.pwd`

case $1 in
	Redis_Pid)
		ps -ef|grep redis-server|grep -v grep|awk '{print $2}'
	;;
	*)
		sudo redis-cli -a $RDS_PWD info|grep -w $1|awk -F : '{print $2}'
	;;
esac
exit 0