upstream nodeuiide {
      server {{pl_node_host}}:8011;
}       
upstream nodemobileuiide {
      server {{pl_node_host}}:8011;
}
upstream nodemobileui {
      server {{pl_node_host}}:8011;
}
upstream nodecron {
      server {{pl_node_host}}:8011;
}
upstream nodetemplate {
      server {{pl_node_host}}:8011;
}
upstream nodeempi {
      server {{pl_node_host}}:8014;
}
upstream nodeeeb {
      server {{pl_node_host}}:8012;
}
upstream nodewechat {
      server {{pl_node_host}}:8011;
}
upstream nodethingtcp {
      server {{pl_node_host}}:8016;
}
upstream nodethinghttp {
      server {{pl_node_host}}:8017;
}