启动 MongoDB
nohup {{pl_tomcat_home}}/{{pl_role_type}}/mongodb/bin/mongod --bind_ip_all -dbpath={{pl_tomcat_home}}/{{pl_role_type}}/mongodb/data -port={{pl_empi_mongodb_port}} -logpath={{pl_tomcat_home}}/{{pl_role_type}}/mongodb/log/mongodb.log -logappend --fork &