UserParameter=mysql.status[*],python {{pl_mon_home}}/zabbix/etc/scripts/mysql/mysql_status.py -i $1
UserParameter=mysql.function[*],python {{pl_mon_home}}/zabbix/etc/scripts/mysql/mysql_func.py -i $1
UserParameter=mysql.perf[*],python {{pl_mon_home}}/zabbix/etc/scripts/mysql//mysql_perf.py -i $1