UserParameter=custom.redis.discovery, python {{pl_mon_home}}/zabbix/etc/scripts/redis/redis.py --list
UserParameter=custom.redis.item[*],python {{pl_mon_home}}/zabbix/etc/scripts/redis/redis.py -p $1  -k $2