[Unit]
Description=MongoDB Database Service
Wants=network.target
After=network.target

[Service]
Type=forking
PIDFile={{pl_mongodb_home}}/{{pl_role_type}}/{{pl_server_type}}/pid/mongodb.pid
ExecStart={{pl_mongodb_home}}/{{pl_role_type}}/{{pl_server_type}}/mongodb-linux-x86_64-rhel70-{{pl_mongodb_version}}/bin/mongod --config {{pl_mongodb_home}}/{{pl_role_type}}/{{pl_server_type}}/etc/mongodb.conf
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
User={{pl_mongodb_user}}
Group={{pl_mongodb_user}}
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target