systemLog:
  path: {{pl_mongodb_home}}/{{pl_role_type}}/{{pl_server_type}}/log/mongodb.log
  logAppend: false
  logRotate: rename
  destination: file
  timeStampFormat: iso8601-local

processManagement:
  fork: true
  pidFilePath: {{pl_mongodb_home}}/{{pl_role_type}}/{{pl_server_type}}/pid/mongodb.pid

net:
  port: {{pl_mongodb_port}}
  bindIp: {{pl_mongodb_ip}}
  maxIncomingConnections: 65536 
  unixDomainSocket: 
    pathPrefix: {{pl_mongodb_home}}/{{pl_role_type}}/{{pl_server_type}}/sock

storage:
  dbPath: {{pl_mongodb_home}}/{{pl_role_type}}/{{pl_server_type}}/data
  indexBuildRetry: true 

operationProfiling: 
  slowOpThresholdMs: 100
