location / {
    include proxy.conf;
    access_log off;
    if ($request_uri = '/') {
		rewrite ^/$ /ui/paas/login.html redirect;
    }
    proxy_pass     http://nodetemplate;
    proxy_redirect default;
}
location /ui/ {
   include proxy.conf;
   proxy_pass     http://nodetemplate;
   proxy_redirect default;
}
location /web/ {
   include proxy.conf;
   proxy_pass     http://nodetemplate;
   proxy_redirect default;
}
location /api/ {
    if ($is_bot) {
        return 403;
    }
    include proxy.conf;
    proxy_pass     http://nodeuiide;
    proxy_redirect default;
}
location /mobileide/ {
    if ($is_bot) {
        return 403;
    }
    include proxy.conf;
    proxy_pass     http://nodemobileuiide;
    proxy_redirect default;
}
location /mobileui/ {
    if ($is_bot) {
        return 403;
    }
    include proxy.conf;
    proxy_pass     http://nodemobileui;
    proxy_redirect default;
}
location /empi/ {
    if ($is_bot) {
        return 403;
    }
    include proxy.conf;
    proxy_pass    http://nodeempi;
    proxy_redirect default;
}
location /cron/ {
    if ($is_bot) {
        return 403;
    }
    include proxy.conf;
    proxy_pass     http://nodecron;
    proxy_redirect default;
}
location /eeb/ {
    if ($is_bot) {
        return 403;
    }
    include proxy.conf;
    proxy_pass     http://nodeeeb;
    proxy_redirect default;
}
location /blendy/ {
	if ($is_bot) {
        return 403;
    }
    include proxy.conf;
    proxy_pass     http://nodethinghttp;
    proxy_redirect default;
}