[Unit]
Description=DsCore Server
After=syslog.target network.target
[Service]
Type=forking
User={{pl_user}}
Group={{pl_group}}
ExecStart={{pl_home}}/dscore/bin/catalina.sh start
ExecStop={{pl_home}}/dscore/bin/catalina.sh stop
Restart=always
PrivateTmp=true
[Install]
WantedBy=multi-user.target
