<?xml version="1.0" 
      encoding="UTF-8"?>

<Server port="{{pl_tomcat_shutdown_port}}" 
        shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.startup.VersionLoggerListener" />  
  <Listener className="org.apache.catalina.core.AprLifecycleListener" 
            SSLEngine="on" />
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

  <GlobalNamingResources>
    <Resource name="UserDatabase"
              auth="Container"
              type="org.apache.catalina.UserDatabase"
              description="User database that can be updated and saved"
              factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
              pathname="conf/tomcat-users.xml" />
  </GlobalNamingResources>

  <Service name="Catalina">
    <Connector port="{{pl_tomcat_port}}" 
               protocol="{{pl_tomcat_protocol}}"
               connectionTimeout="{{pl_tomcat_connectionTimeout}}"
               maxThreads="{{pl_tomcat_maxThreads}}"
               maxConnections="{{pl_tomcat_maxConnections}}"
               acceptCount="{{pl_tomcat_maxConnections}}"
               redirectPort="{{pl_tomcat_redirectPort}}" 
               URIEncoding="UTF-8" />

    <Connector port="{{pl_tomcat_protocol_port}}" 
               protocol="{{pl_tomcat_ajp_protocol}}" 
               redirectPort="{{pl_tomcat_redirectPort}}"
               URIEncoding="UTF-8" />

    <Engine name="Catalina" 
            defaultHost="{{pl_tomcat_host}}">
      <Realm className="org.apache.catalina.realm.LockOutRealm">
        <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
               resourceName="UserDatabase"/>
      </Realm>

      
        <!-- <Host name="{{pl_tomcat_appName}}"
              appBase="{{pl_tomcat_appBase}}"
              unpackWARs="true"
              autoDeploy="true">  -->
        <Host name="{{pl_tomcat_appName}}"
              unpackWARs="true"
              autoDeploy="true">
        <Context path="{{pl_tomcat_path}}"
                 docBase="{{pl_tomcat_home}}/{{pl_role_type}}/{{pl_server_type}}{{pl_tomcat_path}}" 
                 reloadable="true" 
                 crossContext="true" >
        </Context>
        
        <Valve className="org.apache.catalina.valves.AccessLogValve" 
               directory="logs"
               prefix="{{pl_tomcat_home}}/{{pl_role_type}}/{{pl_server_type}}/logs/access" 
               suffix=".log"
               pattern="%h %l %u %t &quot;%r&quot; %s %b" />
      </Host>
    </Engine>
  </Service>
</Server>
