[Unit]
Description=Kafka Server
Documentation=http://kafka.apache.org/documentation.html
Requires=network.target remote-fs.target
After=network.target remote-fs.target nss-lookup.target zookeeper.service
[Service]
Type=forking
User={{pl_user}}
Group={{pl_group}}
Environment=JAVA_HOME={{pl_home}}/jdk{{pl_jdk_version}}
Environment=JMX_PORT={{pl_kafka_jmx_port}}
ExecStart={{pl_home}}/kafka/kafka_{{pl_kafka_version}}/bin/kafka-server-start.sh -daemon {{pl_home}}/kafka/kafka_{{pl_kafka_version}}/config/server.properties
ExecStop={{pl_home}}/kafka/kafka_{{pl_kafka_version}}/bin/kafka-server-stop.sh
Restart=always
PrivateTmp=true
[Install]
WantedBy=multi-user.target