[Unit]
Description=Kafka Server
Documentation=http://kafka.apache.org/documentation.html
Requires=network.target remote-fs.target
After=network.target remote-fs.target nss-lookup.target zookeeper.service
[Service]
Type=forking
User={{user}}
Group={{group}}
Environment=JAVA_HOME={{home}}/jdk{{jdk_version}}
Environment=JMX_PORT={{kafka_jmx_port}}
ExecStart={{home}}/kafka/kafka-{{kafka_version}}/bin/kafka-server-start.sh -daemon {{home}}/kafka/kafka-{{kafka_version}}/config/server.properties
ExecStop={{home}}/kafka/kafka-{{kafka_version}}/bin/kafka-server-stop.sh
Restart=always
PrivateTmp=true
[Install]
WantedBy=multi-user.target