[Unit]
Description=Zookeper Server
Documentation=http://zookeeper.apache.org
Requires=network.target remote-fs.target
After=network.target remote-fs.target
[Service]
Type=forking
User={{user}}
Group={{group}}
Environment=JAVA_HOME={{home}}/jdk{{jdk_version}}
Environment=JMXPORT={{zookeeper_jmx_port}}
Environment=ZOO_LOG_DIR={{home}}/zookeeper/logs
ExecStart={{home}}/zookeeper/zookeeper-{{zookeeper_version}}/bin/zkServer.sh start
ExecStop={{home}}/zookeeper/zookeeper-{{zookeeper_version}}/bin/zkServer.sh stop
Restart=always
PrivateTmp=true
[Install]
WantedBy=multi-user.target