[Unit]
Description={{pl_server_type}} Server
After=network.target
[Service]
Type=forking
User={{pl_tomcat_user}}
Group={{pl_tomcat_user}}
WorkingDirectory={{pl_tomcat_home}}/{{pl_role_type}}/{{pl_server_type}}/apache-tomcat-{{pl_tomcat_version}}
ExecStart={{pl_tomcat_home}}/{{pl_role_type}}/{{pl_server_type}}/apache-tomcat-{{pl_tomcat_version}}/bin/startup.sh
ExecStop={{pl_tomcat_home}}/{{pl_role_type}}/{{pl_server_type}}/apache-tomcat-{{pl_tomcat_version}}/bin/shutdown.sh
PIDFile={{pl_tomcat_home}}/{{pl_role_type}}/{{pl_server_type}}/{{pl_server_type}}.pid
Restart=always
PrivateTmp=true
SuccessExitStatus=143
[Install]
WantedBy=multi-user.target
