127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
{{pl_ipaddr}} {{pl_hostname}}
{{pl_ipaddr}} {{pl_hosts}}