Description=Plat Node-Log-Srv
After=network.target remote-fs.target nss-lookup.target
[Service]
Type=simple
Environment=HOME={{pl_node_home}}
Environment=PATH={{pl_node_home}}/node-v{{pl_node_version}}-linux-x64/bin
User={{pl_node_user}}
Group={{pl_node_group}}
ExecStart={{pl_node_home}}/node-v{{pl_node_version}}-linux-x64/bin/node {{pl_node_home}}/node-log-srv/index.js
ExecStop={{pl_node_home}}/node-v{{pl_node_version}}-linux-x64/bin/node {{pl_node_home}}/node-log-srv/stop.js
Restart=always
PIDFile={{pl_node_home}}/node-log-srv/pid
WorkingDirectory={{pl_node_home}}/node-log-srv
PrivateTmp=true
[Install]
WantedBy=multi-user.target