[Unit]
Description=Senyint Nginx Server
After=network.target

[Service]
Type=forking
PIDFile=/home/plat/nginx/nginx.pid
ExecStartPre=/home/plat/nginx/sbin/nginx -t -q -g 'daemon on; master_process on;'
ExecStart=/home/plat/nginx/sbin/nginx -g 'daemon on; master_process on;'
ExecReload=/home/plat/nginx/sbin/nginx -g 'daemon on; master_process on;' -s reload
ExecStop=-/home/plat/nginx/sbin/start-stop-daemon --quiet --stop --retry QUIT/5 --pidfile /home/plat/nginx/nginx.pid
TimeoutStopSec=5
KillMode=mixed
Restart=always
[Install]
WantedBy=multi-user.target