location = /50x.html {
    root   html;
}
location /ns_check {
    stub_status   on;
    access_log   off;
}
location /hello { 
    content_by_lua 'ngx.say("Hello, Lua")'; 
}
location  /ehrllq/ {
	root /usr/local/nginx/html/;
}
location /sjzljc/ {
	root /usr/local/nginx/html/;
} 
error_page   500 502 503 504  /50x.html;