LogFile={{pl_zabbix_agent_home}}/zabbix/log/zabbix_agentd.log
LogFileSize=1
LogType=file
PidFile={{pl_zabbix_agent_home}}/zabbix/run/zabbix_agentd.pid
Server={{pl_zabbix_server}}
ListenPort={{pl_zabbix_agent_port}}
ListenIP={{pl_ipaddr}}
ServerActive={{pl_zabbix_server}}
StartAgents=3
Timeout={{pl_zabbix_timeout}}
Hostname={{pl_ipaddr}}
Include={{pl_zabbix_agent_home}}/zabbix/etc/zabbix_agentd.conf.d/*.conf