#!/bin/bash
NODE_DIR={{pl_home}}/web4node
NODE_BAK_DIR={{pl_bak_home}}/node
NODE=public
DATE=`date +"%Y%m%d"`
mkdir -p $NODE_BAK_DIR
cd $NODE_DIR
tar zcvf $NODE_BAK_DIR/$NODE.$DATE.tar.gz $NODE
find $NODE_BAK_DIR -mtime +15 -type f -exec rm -rf {} \;
exit