
bootstrap.servers:{{pl_ds_kafka_server}}

# Producer Configuration

client.id:ds
# default
acks:all
# default 0
retries:3
# default
batch.size:16384
# default 1
linger.ms:50
# default
buffer.memory:33554432
# default
key.serializer:org.apache.kafka.common.serialization.StringSerializer
value.serializer:org.apache.kafka.common.serialization.StringSerializer

# Consumer Configuration
# 分组可确保同组的一个topic只能被一个同组组员所消费（分布式常用到）,一个topic可以被不同分组的的consumer分别消费
group.id:ds_group
enable.auto.commit:false
auto.commit.interval.ms:1000
# earliest or latest(default)
auto.offset.reset:earliest
key.deserializer:org.apache.kafka.common.serialization.StringSerializer
value.deserializer:org.apache.kafka.common.serialization.StringSerializer

# Other Configuration
minBatchSize:1
