[Unit]
Description=FileBeat
Documentation=https://www.elastic.co/guide
After=syslog.target network.target

[Service]
Type=simple
User={{pl_filebeat_user}}
Group={{pl_filebeat_user}}
ExecStart={{pl_filebeat_home}}/elastic/filebeat-{{pl_filebeat_version}}-linux-x86_64/filebeat -c {{pl_filebeat_home}}/elastic/filebeat-{{pl_filebeat_version}}-linux-x86_64/filebeat.yml
ExecStop=/bin/kill -SIGKILL $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target