#!/bin/sh
log_dir={{pl_nginx_log_path}}
log_bakup_dir={{pl_backup_home}}/logfile/nginx
log_name=access.log
date=`date -d "-1day" +"%Y%m%d"`
mkdir -p $log_bakup_dir
cd $log_dir
tar zcvf $log_bakup_dir/$log_name.$date.tar.gz $log_name
> $log_dir/$log_name
exit
