#/bin/sh

DB_BAK_DIR={{pl_backup_home}}/database/redis
DATE=`date +"%Y%m%d"`
REDIS_DB_PATH={{pl_redis_db_path}}

mkdir -p $DB_BAK_DIR
cp ${REDIS_DB_PATH}/dump.rdb ${DB_BAK_DIR}/dump-${DATE}.rdb.
find $DB_BAK_DIR -mtime +15 -type f -exec rm -rf {} \;
exit
