user                      {{user}} {{group}};
worker_processes {{ansible_processor_vcpus}};
worker_rlimit_nofile                  204800;
error_log {{home}}/nginx/logs/error.log warn;
pid                 {{home}}/nginx/nginx.pid;

events {
    use                epoll;
    multi_accept          on;
    accept_mutex         off;
    worker_connections 65535;
}

http {
    include mime.types;        
    default_type application/octet-stream;
		
    log_format json '{ "remote_ip": "$remote_addr",'
                    '"@timestamp": "$time_iso8601",'
                    '"request_method": "$request_method",'
                    '"request_api": "$uri",'
                    '"request_args": "$args",'
                    '"request_status": "$status",'
                    '"request_bytes": "$body_bytes_sent",'
                    '"request_agent": "$http_user_agent",'
                    '"referer": "$http_referer",'
                    '"up_response_status": "$upstream_status",'
                    '"upstream_server": "$upstream_addr",'
                    '"up_request_time": "$request_time",'
                    '"up_response_time": "$upstream_response_time",'
                    '"plat_request_id": "$sent_http_request_id",'
                     '"nginx_request_id": "$request_id" }';        
        
    sendfile                             on;
    tcp_nopush                           on;
    tcp_nodelay                          on;
    autoindex                           off;
    server_tokens                       off;
    keepalive_timeout               300 300;       
    server_names_hash_bucket_size       128;        
    send_timeout                         3m;
    uninitialized_variable_warn         off;
    chunked_transfer_encoding            on;
    open_file_cache_valid               30s;
    open_file_cache max=102400 inactive=20s;

    include {{home}}/nginx/conf/conf.d/*.conf;
}