upstream nodeuiide {
      server localhost:8011;
}       
upstream nodemobileuiide {
      server localhost:8011;
}
upstream nodemobileui {
      server localhost:8011;
}
upstream nodecron {
      server localhost:8011;
}
upstream nodetemplate {
      server localhost:8011;
}
upstream nodeempi {
      server localhost:8014;
}
upstream nodeeeb {
      server localhost:8012;
}
upstream nodewechat {
      server localhost:8011;
}
upstream nodethingtcp {
      server localhost:8016;
}
upstream nodethinghttp {
      server localhost:8017;
}