[Unit]
Description=Senyint MySQL Server
After=network.target
After=syslog.target

[Service]
User={{pl_mysql_user}}
Group={{pl_mysql_group}}
PermissionsStartOnly=true
ExecStart={{pl_mysql_home}}/mysql/mysql/bin/mysqld_safe
TimeoutSec=600
PrivateTmp=false
Restart=always
[Install]
WantedBy=multi-user.target
Alias=mysql.service