#map to //192.168.7.120/root/upload_test/ by configuration
#FILE_PATH_ROOT=C:/upload_file/
#FILE_PATH_ROOT=D:/app/upload_file/
FILE_PATH_ROOT={{pl_ds_samba_mounted_path}}
FILE_PATH_SUB_TMP=tmp/
FILE_FLAG_BACKUP=true