#/bin/sh

DB_BAK_DIR={{pl_backup_home}}/database/mysql
DATE=`date +"%Y%m%d"`

mkdir -p $DB_BAK_DIR
cd $DB_BAK_DIR
mysqldump -u{{pl_backup_mysql_user}} -p{{pl_backup_mysql_pwd}} --all-databases > all-db-$DATE.sql
find $DB_BAK_DIR -mtime +15 -type f -exec rm -rf {} \;
exit
